# PyCharm
.idea/

# Compiled Python files
*.pyc
*.pyo
__pycache__/

# Python virtual environment
venv/
env/

# Jupyter Notebook
.ipynb_checkpoints/

# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

# SQLite database files
*.sqlite3
*.db

# Visual Studio Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

